/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

.grid {
	width: 635px;
	height: 469px;
	margin: auto;
	box-shadow: -5px 10px 25px 0px rgba(0,0,0,0.45);
	border-radius: 10px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #E6EFF6;
}

main {
	position: relative;
}

/* Header */

.header {
	margin-top: 60px;
	padding: 50px 60px 50px 40px;
	background: white;
	border-radius: 10px 10px 0 0;
}

.header h1 {
	color: #2A6E6D;
	font-weight: bold;
	font-size: 20px;

	margin-bottom: 20px;
}

.header h2 {
	color: #A6BF34;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}

.header p {
	color: #A0A3AC;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 1px;
}

/* Price */

.price {
	width: 318px;
	height: 258px;
	background: #2BB3B1;
	border-radius: 0 0 0 10px;
}

.price-div {
	position: relative;
	padding: 42px;
}

.price-div h1 {
	color: white;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 24px;
}

.price-div h2 {
	color: white;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.price-div h3 {
	color: #6CD4D5;
	font-size: 12px;
	letter-spacing: 1px;
	position: absolute;
	right: 125px;
	top: 85px;
}

.price-div p {
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.price-div button {
	border: none;
	color: white;
	font-weight: bold;
	background: #BFDF32;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	height: 50px;
	box-shadow: -5px 10px 25px 0px rgba(0,0,0,0.45);
}

.product {
	position: absolute;
	right: 0;
	top: 0;
	width: 318px;
	height: 258px;
	background: #4ABEBD;
	border-radius: 0 0 10px 0;
}

.product-div {
	margin: 38px;
}

.product-div h1{
	color: white;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 24px;
}

.product-div p {
	color: white;
	font-size: 12px;
	line-height: 1.7;
}